<!DOCTYPE html>
<html>
<head>
    <title>Etextbooker</title>
</head>
<body>
    <h1>Cleaning up the bookstore spreadsheet</h1>
    {% if errors %}
        <p> There was a problem about {% for i in errors.errors %} {{ i }}. {% endfor %} </p>
    {% endif %}
    <p>Upload the raw bookstore spreadsheet, and I'll return a cleaned version of it.</p>
    <form method=post enctype=multipart/form-data>
    <p>File:
        <input type=file name=file</dd> 
        <input type=submit value=Upload>
    </p>
</form>
</body>
</html>

{# enctype="multipart/form-data" #}